{{ define "main" }}
<article class="post page">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
  </header>

  <div class="post-content">
    {{ .Content }}
  </div>

  <footer class="post-footer">
    {{ if and .Site.Params.features.comments (not (eq .Type "about")) }}
    <div class="post-comments">
      <div id="giscus-comments"></div>
      {{ if eq .Site.Params.features.commentsProvider "giscus" }}
      <script src="https://giscus.app/client.js"
              data-repo="KingdeGuo/kingdeguo.github.io"
              data-repo-id="R_kgDOPLxeEQ"
              data-category="General"
              data-category-id="DIC_kwDOPLxeEc4Cs5E6"
              data-mapping="pathname"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="bottom"
              data-theme="preferred_color_scheme"
               data-lang="{{ if eq .Lang "en" }}en{{ else }}zh-CN{{ end }}"
               crossorigin="anonymous"
               async>
      </script>
      {{ end }}
    </div>
    {{ end }}
  </footer>
</article>
{{ end }}