<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}" {% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
            <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.4,11.14l0,0a1.69,1.69,0,0,0,.5,1.28l2.31,2.31a1.69,1.69,0,0,0,1.28.55l0.06,0.06a6.5,6.5,0,0,0,8.14-5.77ZM6.5,1A5.5,5.5,0,1,1,1,6.5,5.5,5.5,0,0,1,6.5,1Z" transform="translate(0 0)"></path>
          </svg>
        </button>
        {% endif %}
        {% if site.theme_switcher == true and site.theme_switcher_location == 'header' %}
          <div class="theme-switcher">
            <a href="#" class="theme-toggle" title="Toggle theme">
              <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2ZM12,20V4A8,8,0,0,1,12,20Z"/>
              </svg>
            </a>
          </div>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">Toggle menu</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
