{{- $donateImg := resources.Get "images/donate-wechat.png" | fingerprint -}}
{{- $donateUrl := "" -}}
{{- if $donateImg -}}
  {{- $donateUrl = $donateImg.RelPermalink -}}
{{- end -}}

<div class="donate-wrapper">
  <button class="donate-toggle" aria-label='{{ i18n "donate_aria" }}' data-donate-src="{{ $donateUrl }}">
    {{ i18n "donate_button" }}
  </button>
  <div class="donate-content">
    <p class="donate-text">{{ i18n "donate_text" }}</p>
    <div class="donate-qr-container"></div>
  </div>
</div>
