---
layout: base
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/glassmorphism.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }} glass-bg">
    {% include search.html %}
    <!-- 粒子背景 -->
    <div id="particles-js"></div>
    
    <!-- 导航栏 -->
    {% include_cached masthead.html %}

    <!-- 主要内容 -->
    <div class="initial-content">
      {{ content }}
    </div>

    <!-- 脚本文件 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ '/assets/js/particles.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/particles-config.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/glassmorphism.js' | relative_url }}"></script>
    <script src="https://unpkg.com/lunr/lunr.min.js"></script>
    <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
    
    
    {% include mermaid.html %}
  </body>
</html>
