---
layout: default
---

<div class="home-container">
<div class="reading-progress">
  <div class="reading-progress-bar"></div>
</div>
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %d, %Y" }}
      </time>
      {% if page.categories.size > 0 %}
        • Categories: 
        {% for category in page.categories %}
          <a href="/categories/{{ category | slugify }}">{{ category }}</a>
          {% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
      {% if page.tags.size > 0 %}
        • Tags: 
        {% for tag in page.tags %}
          <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
          {% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.mermaid %}
    {% include mermaid.html %}
  {% endif %}

  {% if site.giscus.repo %}
    {% include giscus_comments.html %}
  {% endif %}

  <div class="post-navigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

  <div class="social-share">
    <span>分享到：</span>
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url | url_encode }}" target="_blank" title="Twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url_encode }}" target="_blank" title="Facebook">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | url_encode }}&title={{ page.title | url_encode }}" target="_blank" title="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://service.weibo.com/share/share.php?url={{ site.url }}{{ page.url | url_encode }}&title={{ page.title | url_encode }}" target="_blank" title="微博">
      <i class="fab fa-weibo"></i>
    </a>
  </div>

  {% assign related_posts_list = "" | split: "," %}
  {% if page.tags.size > 0 %}
    {% assign max_related = 5 %}
    {% assign min_common_tags = 1 %}
    
    {% for post in site.posts %}
      {% if post.url == page.url %}
        {% continue %}
      {% endif %}
      
      {% assign combined_tags_size = page.tags.size | plus: post.tags.size %}
      {% assign unique_tags_size = page.tags | concat: post.tags | uniq | size %}
      {% assign common_tags_count = combined_tags_size | minus: unique_tags_size %}
      
      {% if common_tags_count >= min_common_tags %}
        {% assign common_tags_padded = common_tags_count | prepend: "00" | slice: -2, 2 %}
        {% assign post_data = common_tags_padded | append: ":::" | append: post.url | append: ":::" | append: post.title %}
        {% assign related_posts_list = related_posts_list | push: post_data %}
      {% endif %}
    {% endfor %}
    
    {% assign related_posts_list = related_posts_list | sort | reverse %}
  {% endif %}

  {% if related_posts_list.size > 0 %}
    <div class="related-posts">
      <h3>相关文章</h3>
      <ul>
        {% for post_data in related_posts_list limit:max_related %}
          {% assign post_parts = post_data | split: ":::" %}
          {% assign post_url = post_parts[1] %}
          {% assign post_title = post_parts[2] %}
          <li>
            <a href="{{ post_url | relative_url }}">{{ post_title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</article>
</div>
